
mat-card {
    border-radius: 25px;
    /* box-shadow: 5px 5px 20px 0px #c8dcff !important; */
}

.lg {
    width: 35%;
}
.sm {
    width: 45%;
}


@media (max-width: 992px){
    .web-projects {
        display: none !important;
    }
    .left{
        justify-content: left !important;
    }
    h1{
        font-size: 180%;
        text-align: left;
    }
    .project-content {
        flex-direction: column-reverse;
        text-align: left;
        padding-left: 0px !important;
    }
    .project-img {
        margin-bottom: 5%;
        text-align: left !important;
    }
    .lg {
        width: 45%;
    }
    .sm {
        width: 55%;
    }
}

@media (min-width: 993px){
    .mobile-projects {
        display: none;
    }
    mat-card {
        max-width: 70%;
    }
}

.tp-box {
    height: 250px;
}

.back-card {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

:host(.mat-chip-list-wrapper) {
    justify-content: flex-end !important;
}

.bi {
    font-size: 25px;
    /* opacity: 70%; */
}

.bi-arrow-right-circle-fill::before {
    border-radius: 50%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}