<style type="text/css">
    .sfondolight { background-color: white }
    .sfondodark { background-color: #222f3e !important; color: whitesmoke !important; }
    .testolight     { color: black !important; }
    .testodark      { color: whitesmoke !important; }
    .shadowdark     { box-shadow: -10px 15px 40px -20px #c8dcff; }
  </style>
    
<div  class="container-fluid" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">

    <app-header [mode]="mode" (emitMode)="setMode($event)"></app-header>

<div class="d-flex justify-content-center align-items-center mt-3">
    <mat-card class="d-flex justify-content-around mat-elevation-z8 bio" [ngClass]="mode === false ? '' : 'cardark' ">
        <div class="responsive-width text-center">
            <h1 class="text-bold">Bio</h1>
            <mat-icon class="icon">fingerprint</mat-icon>
        </div>
        <div class="responsive-width text-thin txt-90">
            Name  <b>Paolo Nazzaro</b> <br>
            Date of Birth  <b>22 / 10 / 1996</b> <br>
            Place of Birth  <b>Rome</b> <br>
            Email  <b>paolonazzaro23@gmail.com</b>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="d-flex justify-content-around mat-elevation-z8" [ngClass]="mode === false ? '' : 'cardark' ">
        <div class="responsive-width text-center">
            <h1 class="text-bold">Education & Training</h1>
            <mat-icon class="icon">menu_book</mat-icon>
        </div>
        <div class="responsive-width text-thin text-grey">
            <b>Languages in the Information Society Degree</b><br>
            <span class="text-regular txt-80">2015-2020</span><br>
            <span class="txt-90"> University of Rome Tor Vergata <br>
            Graduated with 110/110 with the thesis "Font's analysis and use in web communication". </span><br>
            <b>European project EU-MADE4LL</b> <br>
            <span class="text-regular txt-80">2017</span> <br>
            <span class="txt-90">Production of a corporate video regarding the University of Rome Tor Vergata. </span><br>
            <b>Scientific High School Degree</b> <br>
            <span class="text-regular txt-80">2010-2015</span>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="d-flex justify-content-around mat-elevation-z8" [ngClass]="mode === false ? '' : 'cardark' ">
        <div class="responsive-width text-center">
            <h1 class="text-bold">Work</h1>
            <mat-icon class="icon">work</mat-icon>
        </div>
        <div class="responsive-width text-thin text-grey">
            <b>Front End Developer at RoTechnology</b><br>
            <span class="text-regular txt-80">2020-now</span><br>
            <span class="txt-90">Regular Contractor at Accenture for Angular/Ionic based project.</span><br>
            <b>Web Developing Assistant at Tor Vergata University</b> <br>
            <span class="text-regular txt-80">2019-now</span> <br>
            <span class="txt-90">University Tutor for HTML + CSS + JavaScript based courses.</span><br>
            <b>Front End Developer at Trevize s.r.l</b><br>
            <span class="text-regular txt-80">2019-2020</span><br>
            <span class="txt-90">Collaborated as Front End Developer for Angular, Ionic and Wordpress based projects. </span><br>
            <b>Web Developing Teaching Assistant at Betacom</b> <br>
            <span class="text-regular txt-80">2019</span> <br>
            <span class="txt-90">Teaching Assistant for Angular based courses.</span><br>
            <b>Journalist at Quotidiano del Lazio</b> <br>
            <span class="text-regular txt-80">2018-2020</span> <br>
            <b>Office Clerk at Tor Vergata University</b> <br>
            <span class="text-regular txt-80">2018</span>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="d-flex justify-content-around mat-elevation-z8" [ngClass]="mode === false ? '' : 'cardark' ">
        <div class="responsive-width text-center">
            <h1 class="text-bold">Projects</h1>
            <mat-icon class="icon">devices</mat-icon>
        </div>
        <div class="responsive-width text-thin text-grey">
            <b>Al Circo Massimo </b>-
            <span class="txt-90"> <a href="https://www.youtube.com/channel/UCFW7vR1zutzUxgSP_a_JuYQ" target="_blank" class="text-semibold"> alcircomassimo</a> <br>
            <span class="text-regular txt-80">2021</span> <br>
                TV Show logo designer.
            </span><br>

            <b>Il mio avvocato </b>-
            <span class="txt-90"> <a href="https://ilmioavvocato.online/" target="_blank" class="text-semibold"> ilmioavvocato.online</a><br>
            <span class="text-regular txt-80">2021</span> <br>
                Logo designer for a legal assistance online tool
            </span><br>

            <b class="text-semibold pointer" id="t4f" (click)="goTv()">Tor Vergata 4 Foreigners</b>
            <i class="bi bi-arrow-right-circle-fill ml-1 text-azure pointer" (click)="goTv()"></i><br>
            <span class="text-regular txt-80">2020</span><br>
            <span class="txt-90">Angular web app and Ionic mobile app for University of Rome Tor Vergata’s foreign students. </span><br>

            <b>European Aviation Academy </b>-
            <span class="txt-90"> <a href="https://flyeaa.com/" target="_blank" class="text-semibold"> flyeaa.com</a><br>
            <span class="text-regular txt-80">2020</span> <br>
                Elementor + Wordpress based web site 
            </span><br>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="mat-elevation-z8 mt-2 text-thin d-flex justify-content-center txt-90" [ngClass]="mode === false ? '' : 'cardark' " >
        You can find all of my design projects in<a class="text-bold text-azure pointer" (click)="goDesign()"> this section</a>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="d-flex justify-content-around mat-elevation-z8" [ngClass]="mode === false ? '' : 'cardark' ">
        <div class="responsive-width text-center">
            <h1 class="text-bold">Skills</h1>
            <mat-icon class="icon">diamond</mat-icon>
        </div>
        <div class="responsive-width text-thin text-grey">
            <b>Developing</b> <br>
            <span class="txt-90">Angular, Typescript, Ionic, Javascript, Nativescript, Wordpress </span><br>
            <b>Design</b> <br>
            <span class="text-regular txt-90">Logo / Icon Design</span><br>
            <span class="txt-90">Illustrator, Photoshop</span><br>
            <b>Languages</b> <br>
            <span class="txt-90">English C1, German B1</span><br>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="d-flex justify-content-around mat-elevation-z8 interests" [ngClass]="mode === false ? '' : 'cardark' ">
        <div class="responsive-width text-center">
            <h1 class="text-bold">Interests</h1>
            <mat-icon class="icon">sports_basketball</mat-icon>
        </div>
        <div class="responsive-width text-thin text-grey">
            <b>Design</b> <br>
            <span class="txt-90">Creation of minimal graphic contents</span><br>
            <b>Sports</b> <br>
            <span class="text-regular txt-90">Basketball</span><br>
            <span class="txt-90">Playing since 2002</span><br>
            <span class="text-regular txt-90">Soccer</span> <br>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center" style="text-align: center; margin-top: 3%;">
    <mat-chip-list>
        <mat-chip class="mat-elevation-z6" color="primary" selected="true">
            <a style="color: white;" href="javascript:void(0)" 
            (click)="downloadPdf('./assets/cv-paolo-nazzaro-pdf.pdf','cv-paolo-nazzaro-pdf')" >
            Download PDF
          </a>
        </mat-chip>
    </mat-chip-list>

</div>

<div class="d-flex justify-content-center pt-3 pb-1 text-thin txt-70">
    Designed by Paolo Nazzaro
</div>


</div> 
