.header-span {
    cursor: pointer;
}

.name, .surname{
    font-size: 300%;
}

.toggle-container{
    z-index: 999;
    cursor: pointer;
}

@media (max-width: 992px) {
    .name, .surname{
        font-size: 3rem;
    }
}