
.social{
    width: 10%;
}

.arrow {
    width: 1.5vw;
}

a{
    text-decoration: none;
}

/*mobile*/ @media (max-width: 992px){

    .voice{
        height: 35vh;
    }
    .arrow{
        width: 4vw;
    }
    #rgbimg{
        width: 8vw;
    }
    /* .contatti{
        font-size: 40%;
    } */
    #gmail{
        width: 10vw;
    }
    #linkedin{
        width: 10vw;
    }
    #instagram{
        width: 10vw;
    }
}

@media (min-width: 993px){
    #rgbtxt{
        display: none;
    }

    #gmail{
        width: 2vw;
    }
    #linkedin{
        width: 2vw;
    }
    #instagram{
        width: 2vw;
    }

}



a {
    color: inherit;
}

fa-icon {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 130%;
}

fa-icon:hover{
    color: lightgrey;
    transition-duration: 0.3s;
}

/* NEW */

mat-card{
    border-radius: 10px;
    z-index: 999;
}

::ng-deep .mat-chip-list-wrapper{
    justify-content: center !important;
}

.bio-card {
    background-color: #dbf3ec; 
}
.bio-chip {
    background-color: #ffffff; 
    color: #10ac84;
}
.bio-chip-dark {
    background-color: #10AC84; 
    color: whitesmoke;
}

.work-card {
    background-color: #c8dcff;
}
.work-chip {
    background-color: white;
    color: #3880ff;
}
.work-chip-dark {
    background-color: #3880ff;
    color: whitesmoke;
}

.proj-card {
    background-color: #e5ddf7;
    height: fit-content;
}
.proj-chip {
    background-color: white; 
    color: #5f27cd;
}
.proj-chip-dark {
    background-color: #5f27cd; 
    color: whitesmoke;
}

.contacts-card{
    background-color: #facbd9;
}
.contacts-chip {
    background-color: white;
    color: #eb3b6d;
}
.contacts-chip-dark {
    background-color: #eb3b6d;
    color: whitesmoke;
}

@media (max-width: 992px) {
    .riga{
        flex-direction: column;
        padding-bottom: 3% !important;
    }
    .firstrow {
        padding-bottom: 0px !important;
    }
    mat-card {
        margin-bottom: 5%;
    }
    .w-100{
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
}

@media (min-width: 993px) {
    mat-card {
        min-height: 27vh;
        height: fit-content;
    }

}
