
a{
    text-decoration: none;
    color: inherit;
}

::ng-deep .mat-chip-list-wrapper{
    justify-content: center !important;
}

h1.desktop-title {
    font-size: 5rem;
    line-height: 5rem;
}

.cv-button {
    background-color: #3880ff !important;
}

mat-card {
    box-shadow:
    1.4px 1.4px 2.2px rgba(0, 0, 0, 0.02),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
    6.1px 6.1px 10px rgba(0, 0, 0, 0.035),
    10.9px 10.9px 17.9px rgba(0, 0, 0, 0.042),
    20.5px 20.5px 33.4px rgba(0, 0, 0, 0.05),
    49px 49px 80px rgba(0, 0, 0, 0.07) !important;
    height: fit-content;
    width: 25rem;
    &.work-card {
        background-color: rgba(56, 128, 255, 0.15) !important;
        mat-chip { background-color: #3880ff !important; }
    }
    &.proj-card {
        background-color: rgba(94, 39, 205, 0.3) !important;
        mat-chip { background-color: #5f27cd !important; }
    }
    &.bio-card {
        // background-color: rgba(245, 245, 245, 0.3) !important;
        background-color: rgba(45,213,91, 0.2) !important;
    }
    mat-chip {
        background-color: transparent !important;
    }
    &.light-home-card {
        background-color: white;
        mat-chip { background-color: white !important; }
        &.work-card {
            mat-chip { color: #3880ff; }
        }
        &.proj-card {
            mat-chip { color: #5f27cd; }
        }
        &.bio-card {
            mat-chip { color: #28bb50 }
        }
    }
    &.dark-home-card {
        background-blend-mode: darken !important;
        mat-chip { color: whitesmoke !important; }
        &.work-card {
            mat-chip { background-color: #3880ff !important; }
            * { color: whitesmoke; }
        }
        &.proj-card {
            mat-chip { background-color: #5f27cd !important; }
        }
        &.bio-card {
            color: white;
            // mat-chip { background-color: rgba(45,213,91, 1) !important; }
        }
    }
    &.color-home-card {
        backdrop-filter: blur(13px) saturate(120%) !important;
        * {
            color: aliceblue !important;
        }
        mat-chip {
            background-color: transparent !important;
            backdrop-filter: blur(13px) saturate(120%) !important;
            color: white !important;
        }
    }
}

mat-accordion {
    mat-expansion-panel {
        box-shadow: none;
        background-color: transparent;
        mat-expansion-panel-header {

            mat-panel-title {
                text-align: left;
                font-weight: bolder;
            }
            mat-panel-description {
                justify-content: flex-end;
                margin-right: 20px;
            }
        }
        p {
            text-align: left;
        }
        &.mat-expansion-panel-spacing {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 992px) {
    .container-fluid {
        flex-direction: column;
        height: 100vh !important;
        .header, .content {
            width: 100%;
            height: fit-content;
            align-items: center !important;
            text-align: center !important;
        }
        .content {
            mat-card {
                // width: 21rem !important;
                width: 100% !important;
            }
            .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
                background: transparent;
            }
        }
    }
    .desktop-title {
        display: none;
    }
    .description {
        display: none;
    }

    mat-button-toggle-group {
        display: none;
    }
}

@media (max-width: 992px) {
    .container-fluid {
        min-height: 100% !important;
        height: unset !important;
        padding-bottom: 20px;
    }
}

@media (min-width: 993px) {
    app-header {
        display: none;
    }
    .container-fluid {
        height: 100% !important;
        overflow-y: hidden;
        .w-40 {
            overflow-y: hidden;
        }
        .w-60 {
            overflow-y: auto;
            // height: fit-content;
            .scroll {
                // height: -webkit-fill-available;
                padding-top: 60px;
                padding-bottom: 30px;
            }
        }
    }
}

@media (min-width: 1024px)  {

}
