

mat-card {
    border-radius: 25px;
    /* box-shadow: 5px 5px 20px 0px #c8dcff !important; */
}

.container-fluid {
    height: 100vh !important;
}

@media (max-width: 992px){
    .left{
        justify-content: left !important;
    }
    h1{
        font-size: 180%;
        text-align: left;
    }
}