<div class="container-fluid" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">

    <app-header [mode]="mode" (emitMode)="setMode($event)"></app-header>

    <div class="d-flex justify-content-center align-items-center flex-column pt-3">
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color: #10ac84; width: 50%; height: 70px;"
        (click)="copyMessage('#10ac84')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color: #dbf3ec; width: 50%; height: 70px;"
        (click)="copyMessage('#dbf3ec')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color: #c8dcff; width: 50%; height: 70px;"
        (click)="copyMessage('#c8dcff')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color:  #3880ff; width: 50%; height: 70px;"
        (click)="copyMessage('#3880ff')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color:  #5f27cd; width: 50%; height: 70px;"
        (click)="copyMessage('#5f27cd')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color:   #eb3b6d; width: 50%; height: 70px;"
        (click)="copyMessage('#eb3b6d')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color:   #E0544C; width: 50%; height: 70px;"
        (click)="copyMessage('#e0544c')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color:  #facbd9; width: 50%; height: 70px;"
        (click)="copyMessage('#facbd9')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>
        <mat-card matRipple class="mb-2 mat-elevation-z12" style="background-color:  #e5ddf7; width: 50%; height: 70px;"
        (click)="copyMessage('#e5ddf7')" (click)="openSnackBar('HEX copied in your clipboard!', 'OK')"></mat-card>

    </div>

        <div class="d-flex justify-content-center pt-3 pb-1 text-thin txt-70">
            Designed by Paolo Nazzaro
        </div>

</div>
