<div class="container-fluid" [ngClass]="bgClass">

    <app-header [mode]="mode" (emitMode)="setMode($event)"></app-header>

<div class="d-flex justify-content-center align-items-center mt-3">
    <mat-card class="d-flex justify-content-around align-items-center mat-elevation-z8 content-card" [ngClass]="cardClass">
        <div class="responsive-width padding">
            <h1 class="main-info text-bold">Frontend Developer</h1>
        </div>
        <div class="responsive-width main-info txt-90">
            <span class="text-bold">Angular Developer at <a href="http://www.rotechnology.it/" target="_blank">RoTechnology</a> - Accenture</span>.<br>
            <br>
            <span class="text-regular">Collaborating with Trevize s.r.l</span><br><br>
            <span class="text-thin">Design and Development of web-sites, web-apps and mobile applications.</span><br><br>
            <b>Skills</b><br>
            <span class="text-thin">  Angular, Ionic, NativeScript, Wordpress</span>
        </div>
    </mat-card>
</div>

    <div class="fixed-bottom d-flex justify-content-center pt-3 pb-1 text-thin txt-70">
        Designed by Paolo Nazzaro
    </div>

</div>
