<style type="text/css">
    .sfondolight { background-color: white } 
    .sfondodark { background-color: #222f3e; color: whitesmoke; }
    .visible { overflow: visible; transition-duration: 1s;}
    .hidden { overflow: hidden; }
  </style>

<div class="container-fluid" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">

    <div class="row" id="head">
        <div class="col-12" style="z-index: 999 !important;">
            <span (click)="goHome()" class="header-span">
            <img src="assets/pn.png" class="pn-logo" alt="">
            <span [ngClass]="mode === false ? 'testolight' : 'testodark' " style="font-size: 300%;" id="nome" class="text-bold">aolo</span>
            <!-- <span [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' " style="font-size: 300%;" id="nome">paolo nazzaro</span> -->
            </span>
        </div>
    </div>   

    <div class="row">
        <div class="col-3" (click)="goHome()" style="cursor: pointer;" id="back">
            <!-- <mat-chip-list>
                <div class="d-flex justify-content-center align-items-center">
                    <mat-chip class="mat-elevation-z24">
                        <mat-icon>navigate_before</mat-icon>
                        Home
                    </mat-chip>
                </div>
            </mat-chip-list> -->
        </div>
        <div class="col-12 toggle-container" style="text-align: center;" >
                <!-- <img src="assets/drop.png" alt="" id="mode" (click)="switchMode()" *ngIf="!mode">
                <img src="assets/droplight.png" alt="" id="mode" (click)="switchMode()" *ngIf="mode"> -->
                <!-- <span class="material-icons"  (click)="switchMode()">invert_colors</span> -->
                <mat-slide-toggle color="primary" (change)="switchMode()" [checked]="mode"></mat-slide-toggle>
        </div>
    </div>

<div class="d-flex justify-content-center align-items-center">
    <mat-card class="mat-elevation-z12 mt-4" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' " matRipple>
        <div class="row" [ngClass]="mode === false ? 'lightsez' : '' "  style="margin-top: 2%;">
            <div class="col-lg-6 col-xs-12 d-flex align-items-center justify-content-center text-center left text-bold">
                <h1>Front End Developer</h1>
            </div>
            <div class="col-lg-6 col-xs-12 right">
                <div class="textTeach" class="text-bold">
                    <b>Angular Developer</b> at <b><a href="http://www.rotechnology.it/" target="_blank">RoTechnology</a></b>.<br>
                    <span class="text-thin">Regular Contractor at <b>Accenture</b></span>
                    <br><br>
                    <span class="text-semibold">Collaborating with Trevize s.r.l</span><br><br>
                    <span class="text-thin">Design and Development of web-sites, web-apps and mobile applications.</span><br><br>
                    <span class="text-semibold">Skills : Angular, Ionic, NativeScript, Wordpress</span>
                </div>
            </div>
        </div>
    </mat-card>
</div>


    <div class="fixed-bottom d-flex justify-content-center pt-3 pb-1 text-thin txt-70">
        Designed by Paolo Nazzaro
    </div>

</div>
