<style type="text/css">
    .sfondolight { background-color: white }
  
    .sfondodark { background-color: #222f3e !important; color: whitesmoke !important; }
  
  </style>

<div class="container-fluid" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">

    <app-header [mode]="mode" (emitMode)="setMode($event)"></app-header>

<div class="d-flex justify-content-center">
    <mat-card class="mat-elevation-z12 mt-3" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">
        <div class="d-flex card-content align-items-center p-4" [ngClass]="mode === false ? 'lightsez' : '' " >
            <div class="px-3">
                <img src="./assets/homeiphone.png" id="iphone" alt="">
            </div>
            <div class="px-3">
                <h1 class="text-bold">Tor Vergata 4 Foreigners</h1><br>
                <span class="text-regular">
                    <h4>Ionic + Angular app</h4>
                    <br><br>
                    <h4>iOS + Android</h4>
                    <br><br>
                    <h4>JWT Authentication</h4>
                    <br><br>
                </span>
            </div>
        </div>
    </mat-card>
</div>
<div class="d-flex justify-content-center">
    <mat-card class="mat-elevation-z12 mt-3" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">
        <div class="d-flex card-content align-items-center py-2" [ngClass]="mode === false ? 'lightsez' : '' " >
            <div class="px-3 d-flex align-items-center">
                <span class="text-regular">
                    <h4>PDF + Gallery + Camera file upload</h4>
                    <br><br>
                    <h4>Multilanguage</h4>
                    <br><br>
                    <h4>File Download</h4>
                    <br><br>
                </span>
            </div>
            <div class="d-flex justify-content-around align-items-center" [ngClass]="mode === false ? 'lightsez' : '' " >
                <div class="px-3">
                    <img src="./assets/docsphone.png" id="iphone" alt="">
                </div>
            </div>
        </div>
    </mat-card>
</div>


<div class="d-flex justify-content-center pt-3 pb-1 text-thin txt-70">
    Designed by Paolo Nazzaro
</div>

</div>