mat-card {
    border-radius: 25px;
    /* width: min-content; */
    margin-bottom: 3%;
}

#iphone {
    width: 16vw;
}

#footer{font-family: 'SF-light'; display: flex; justify-content: center; margin-top: 2%;}


@media (max-width: 992px){
    #iphone{
        width: 50vw;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #mode{
        width: 8vw;
    }
    .card-content {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

  @media (min-width: 992px){
    .card-content {
        justify-content: space-around;
    }
  }

