<style type="text/css">
    .sfondolight { background-color: white }
  
    .sfondodark { background-color: #222f3e !important; color: whitesmoke !important; }
  
  </style>

<div class="container-fluid" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' ">
    <div class="row" id="head">
        <div class="col-12" style="z-index: 999 !important;">
            <span class="header-span text-heavy" (click)="goHome()">
            <!-- <img src="assets/pn.png" class="pn-logo" alt="">
            <span [ngClass]="mode === false ? 'testolight' : 'testodark' " style="font-size: 300%;" id="nome"
            class="text-bold">aolo</span> -->
            <span [ngClass]="mode === false ? 'testolight' : 'testodark' " id="nome">paolo</span>
            <span [ngClass]="mode === false ? 'testolight' : 'testodark' " id="cognome">nazzaro</span>
            <span class="logo__cursor"></span>
            </span>
        </div>
    </div>   

<div class="row">
    <!-- <div class="col-3" (click)="goHome()" style="cursor: pointer;" id="back">
        <span class="underlineShort">
            <img src="assets/back.png" style="width: 1.7vw;" alt="">
            Home
        </span>
    </div> -->
    <div class="col-12" style="text-align: center;" >
                <!-- <img src="assets/drop.png" alt="" id="mode" (click)="switchMode()" *ngIf="!mode">
                <img src="assets/droplight.png" alt="" id="mode" (click)="switchMode()" *ngIf="mode"> -->
                <!-- <span class="material-icons"  (click)="switchMode()">invert_colors</span> -->
                <mat-slide-toggle color="primary" (change)="switchMode()" [checked]="mode"></mat-slide-toggle>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center px-2 pt-3">
    <mat-card class="mat-elevation-z12 w-100" [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' " matRipple>
        <div class="row sezione d-flex justify-content-center align-items-center" [ngClass]="mode === false ? 'lightsez' : '' "  style="margin-top: 2%;">
            <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
                <img src="./assets/homeiphone.png" id="iphone" alt="">
            </div>
            <div class="col-lg-6 col-xs-12 right">
                <h1 id="torvergata">Tor Vergata 4 Foreigners</h1><br>
                <span id="text" >
                    <h4><b>Ionic</b> + <b>Angular</b> app</h4>
                    <br><br>
                    <h4><b>iOS</b> + <b>Android</b></h4>
                    <br><br>
                    <h4><b>JWT</b> Authentication</h4>
                    <br><br>
                </span>
            </div>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center align-items-center px-2 pt-3 ">
    <mat-card class="mat-elevation-z12 w-100 " [ngClass]="mode === false ? 'sfondolight' : 'sfondodark' " matRipple>
        <div class="row sezione back d-flex justify-content-center align-items-center" [ngClass]="mode === false ? 'lightsez' : '' "  style="margin-top: 2%;">
            <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
                <span id="text">
                    <h4><b>PDF</b> + <b>Gallery</b> + <b>Camera</b><br> File Upload</h4>
                    <br><br>
                    <h4><b>Multilanguage</b> </h4>
                    <br><br>
                    <h4>File <b>Download</b></h4>
                    <br><br>
                </span>            </div>
            <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
                <img src="./assets/docsphone.png" id="iphone" alt="">
            </div>
        </div>
    </mat-card>
</div>

<div class="d-flex justify-content-center pt-3 pb-1 text-thin txt-70">
    Designed by Paolo Nazzaro
</div>

</div>