/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~fortawesome/fontawesome-free/css/all.min.css'; */

*:focus {outline:0 !important;}
*{
    font-display: swap;
}

@font-face{
    font-family: 'SF-ultralight';
    src: url('/assets/SF-Pro-Display-Ultralight.otf');
}

@font-face{
    font-family: 'SF-bold';
    src: url('/assets/SF-Pro-Display-Bold.otf');
}
@font-face{
    font-family: 'SF-medium';
    src: url('/assets/SF-Pro-Display-Medium.otf');
}
@font-face{
    font-family: 'SF-regular';
    src: url('/assets/SF-Pro-Display-Regular.otf');
}
@font-face{
    font-family: 'SF-semibold';
    src: url('/assets/SF-Pro-Display-Semibold.otf');
}

@font-face{
    font-family: 'Eina-bold';
    src: url('/assets/Eina03-Bold.ttf');
}
.eina-bold{
    font-family: 'Eina-bold';
}

@font-face{
    font-family: 'Eina-semibold';
    src: url('/assets/Eina03-Semibold.ttf');
}
.eina-semibold{
    font-family: 'Eina-semibold';
}

@font-face{
    font-family: 'Eina-regular';
    src: url('/assets/Eina03-Regular.ttf');
}
.eina-regular{
    font-family: 'Eina-regular';
}

@font-face{
    font-family: 'Eina-light';
    src: url('/assets/Eina03-Light.ttf');
}
.eina-light{
    font-family: 'Eina-light';
}

.txt-90{
    font-size: 90%;
}
.txt-80{
    font-size: 80%;
}
.txt-70{
    font-size: 70%;
}
.txt-60{
    font-size: 60%;
}
.txt-50{
    font-size: 50%;
}
.txt-40{
    font-size: 40%;
}
.txt-30{
    font-size: 30%;
}

.row {
    margin-left: unset !important;
    margin-right: unset !important;
}

#head {
    text-align: center;
    padding-top: 2%;
    /* z-index: 999; */
}
.header-span {
    cursor: pointer;
}
#nome{
    font-size: 400%;
    font-family: 'Eina-bold';
    /* z-index: 999; */
}
#nome:hover{
    cursor: pointer;
    /* color: lightgrey; */
    transition-duration: 1s;
}
.pn-logo {
    width: 4%;
    z-index: 999;
}
.toggle-container{
    z-index: 999;
    cursor: pointer;
}

#mode {
    width: 4vw;
}
#mode:hover{
    opacity: 70%;
    cursor: pointer;
    transition-duration: 0.5s;
    transform: rotate(180deg);
}


#pn {
    font-family: 'SF-bold';
    font-size: 400%;
    letter-spacing: 2px;
}

#menu {
    font-family: 'SF-regular';
    font-size: 250%;
    /* letter-spacing: 2px; */
    text-align: center;
    height: 50vh;
}


.material-icons {
    cursor: pointer;
}
.material-icons:hover{
    opacity: 0.5;
    transition-duration: 0.3s;
}

.underline:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;

}
  
.underline:hover:after {
    width: 75%;
  }

  a{
    text-decoration: none;
}

mat-card{
    z-index: 999;
}



@media (max-width: 992px){
    #nome{
        font-size: 260%;
    }
    .pn-logo {
        width: 40px;
    }
    #mode{
        width: 8vw;
    }
    .title{
        font-size: 70%;
    }
    .material-icons{
        font-size: 400%;
    }
    .area {
        display: none;
    }
    .circles{
        display: none;
    }
    .container-fluid {
        height: fit-content !important;
    }
}
@media(min-width: 993px) {
    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .material-icons {
        font-size: 200%;
    }
    .footer{
        position:fixed; 
        bottom: 0%; 
        z-index: 999 !important; 
        width: 100%;
    }

.container-fluid {
    z-index: 1;
}

html,body{
    height: 100vh;
}

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
