/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*:focus {outline:0 !important;}
*{
    font-display: swap;
}

/* SAN FRANCISCO */
@font-face{
    font-family: 'SF-ultralight';
    src: url('/assets/SF-Pro-Display-Ultralight.otf');
}
@font-face{
    font-family: 'SF-light';
    src: url('/assets/SF-Pro-Display-Light.ttf');
}
@font-face{
    font-family: 'SF-bold';
    src: url('/assets/SF-Pro-Display-Bold.otf');
}
@font-face{
    font-family: 'SF-medium';
    src: url('/assets/SF-Pro-Display-Medium.otf');
}
@font-face{
    font-family: 'SF-regular';
    src: url('/assets/SF-Pro-Display-Regular.otf');
}
@font-face{
    font-family: 'SF-semibold';
    src: url('/assets/SF-Pro-Display-Semibold.otf');
}
@font-face{
    font-family: 'SF-black';
    src: url('/assets/SF-Pro-Display-Black.ttf');
}
@font-face{
    font-family: 'SF-heavy';
    src: url('/assets/SF-Pro-Display-Heavy.ttf');
}


/* EINA */
@font-face{
    font-family: 'Eina-bold';
    src: url('/assets/Eina03-Bold.ttf');
}

@font-face{
    font-family: 'Eina-semibold';
    src: url('/assets/Eina03-Semibold.ttf');
}

@font-face{
    font-family: 'Eina-regular';
    src: url('/assets/Eina03-Regular.ttf');
}

@font-face{
    font-family: 'Eina-light';
    src: url('/assets/Eina03-Light.ttf');
}


/* BARLOW */
@font-face{
    font-family: 'barlow-bold';
    src: url('/assets/Barlow-Bold.ttf');
}

@font-face{
    font-family: 'barlow-semibold';
    src: url('/assets/Barlow-Semibold.ttf');
}

@font-face{
    font-family: 'Barlow-regular';
    src: url('/assets/Barlow-Regular.ttf');
}
@font-face{
    font-family: 'barlow-light';
    src: url('/assets/Barlow-Light.ttf');
}

.text-heavy{
    font-family: 'SF-heavy', sans-serif;
}
.text-bold{
    font-family: 'SF-heavy', sans-serif;
}
.text-semibold, b{
    font-family: 'SF-semibold', sans-serif;
}
.text-regular{
    font-family: 'SF-regular', sans-serif;
}
.text-thin{
    font-family: 'SF-light', sans-serif;
}

.text-azure {
    color: #3880ff;
}
.text-grey {
    color: grey;
}

.txt-90{
    font-size: 90%;
}
.txt-80{
    font-size: 80%;
}
.txt-70{
    font-size: 70%;
}
.txt-60{
    font-size: 60%;
}
.txt-50{
    font-size: 50%;
}
.txt-40{
    font-size: 40%;
}
.txt-30{
    font-size: 30%;
}

.pointer {
    cursor: pointer;
}

mat-chip {
    font-family: 'SF-semibold', sans-serif !important;
    cursor: pointer !important;
}

.row {
    margin-left: unset !important;
    margin-right: unset !important;
}

.material-icons {
    cursor: pointer;
}
.material-icons:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
}

a {
    text-decoration: none;
}

@media (max-width: 992px) {
    .material-icons{
        font-size: 400%;
    }
    .container-fluid {
        height: fit-content !important;
    }
    .responsive-width {
        width: 100%;
        text-align: left !important;
    }
    .mat-elevation-z8 {
        flex-direction: column;
    }
}

@media(min-width: 993px) {
    .padding {
        padding: 2em;
    }
    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .material-icons {
        font-size: 200%;
    }
    .footer{
        position: block; 
        bottom: 0%; 
        z-index: 999 !important; 
        width: 100%;
    }
    .container-fluid {
        z-index: 1;
        min-height: -webkit-fill-available;
    }
    html,body{
        height: 100vh;
    }
    .responsive-width {
        width: 50%;
    }
}

.logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1.6rem;
    background: darkgrey;
    margin-left: 5px;
    border-radius: 1px;
    animation: blinker 1s linear infinite !important;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.testolight     { color: black !important; }
.testodark      { color: whitesmoke !important; }
.sfondolight { background-color: white }
.sfondodark { background-color: #222f3e; color: whitesmoke; }
.shadowdark     { box-shadow: -10px 15px 40px -20px #c8dcff; }
.cardark        { background-blend-mode: darken; }

.cardark {
    background-color: #222f3e; 
    background-blend-mode: darken; 
    color: whitesmoke !important;
}
.cardark b {
    color: whitesmoke !important;
}
.cardark span {
    color: lightgray !important;
}